<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notes With Alexa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55539975201A5F2500A8DBFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5553998C201A5F2500A8DBFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55539997201A5F2500A8DBFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
